Home Page

<form method="get" action="{% url 'gn' %}">
    <br>
    <label> Capital
        <input type="checkbox" name="capital">
    </label>

    <br>
    <label> Complex
        <input type="checkbox" name="complex">
    </label>

    <br>
    <label> Number
        <input type="checkbox" name="number">
    </label>

    <br>
    <label> Length
        <select name="length">
            <option value="40">40</option>
            <option value="50" selected="selected">50</option>
            <option value="60">60</option>
        </select>
    </label>

    <br>
    <input type="submit" value="Generate">
</form>